@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .widget {
      margin: auto;
      width: 80%;
  }

  h1 {
    text-align: center;
    margin: 2%;
  }

  .controls {
      display: flex;
      justify-content: center;
      margin: 2%;
  }

  button {
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    background-color: white;
  }

  .card-container {
    justify-items: center;
    width: 80vw;
    margin: auto;
    position: absolute;
    height: 100%;
    }

  .card {
    align-items: center;
    border: 1px solid blue;
    text-align: center;
    height: 50%;
    width: 20%;
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    background: #cfcfcf;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .35s ease, opacity .2s;
          transition: all .35s ease, opacity .2s;
  overflow: hidden;
  }

  .card.hidden {
    -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
            transform: scale(0, 0);
    width: 0%;
    opacity: 0;
    margin: 0;
  }


/* 
 .fade-out {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
*/